<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        {% if anggarans %}
        <tr>
            <th>Nominal</th>
            <th>Deskripsi</th>
            <th>Kategori</th>
            <th>Tanggal Mulai</th>
            <th>Tanggal Selesai</th>
        </tr>
            {% for anggaran in anggarans %}
            <tr>
                <td>{{ anggaran.nominal }}</td>
                <td>{{ anggaran.deskripsi }}</td>
                <td>{{ anggaran.kategori }}</td>
                <td>{{ anggaran.tanggal_mulai }}</td>
                <td>{{ anggaran.tanggal_selesai }}</td>
            </tr>
            {% endfor %}
        {% endif %}
     </table>
</body>
</html>