<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Catatan Transaksi</title>
</head>
<body>
    <form method="post" id="catatanTransaksiForm" data-kategoris-url="{% url 'ajax_load_kategoris' %}" novalidate>
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit">Save</button>
      </form>
    
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script>
        $("#id_jenis").change(function () {
          var url = $("#catatanTransaksiForm").attr("data-kategoris-url");
          var jenisId = $(this).val();
    
          $.ajax({
            url: url,
            data: {
              'jenis': jenisId
            },
            success: function (data) {
              $("#id_kategori").html(data);
            }
          });
    
        });
      </script>
</form>
</body>
</html>