{% extends 'base.html' %}
{% load static %}

{% block title %} List Konsultasi Anda Saat Ini {% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header pb-0">
    {% include 'includes/alert.html' %}
    <h3 class="mb-0">Konsultasi</h3>
    <hr class="horizontal bg-primary pt-1 my-0">
  </div>
  <div class="card-body py-2">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-fill pe-4">
        Punya masalah atau sesuatu untuk ditanyakan? Dapatkan bantuan dari ahlinya secara langsung melalui
        fitur konsultasi kami dengan konsultan keuangan yang sudah terverfikasi dan bersertifikat resmi
      </div>
      <div class="py-2">
        <a href="{% url 'konsultasi:pilih_konsultan' %}">
          <div class="btn btn-lg btn-dark mb-0 text-center">Mulai Konsultasi</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row m-6 mx-sm-4">
  {% if list_konsultasi %}
  {% for konsultasi in list_konsultasi %}
  <div class="col-xl-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <div class="card-body bg-tertiary">
        <div class="d-flex justify-content-around align-items-center">
          <div class="col-md-3 col-4">
            <div class="avatar avatar-lg bg-primary shadow-primary text-center rounded-circle" width="200">
              <img src="{% static 'images/default.png' %}"
                class="avatar bg-info">
              </img>
            </div>
          </div>
          <div class="col-md-8 col-sm-7 col-8">
            <h3 class="text-lg mb-0">{{ konsultasi.konsultan }}</h3>
            <div class="text-sm mb-2">{{ konsultasi.tanggal }}</div>
            <div class="text-sm">
              <span class="badge badge-sm bg-gradient-secondary">{{ konsultasi.status }}</span>
            </div>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endfor %}
{% else %}
<div class="card">
  <div class="card-header p-0"></div>
  <div class="card-body p-0">
    <div class="row mt-5 mx-6 mx-sm-4">
      <div class="text-center pb-4">
        <i class="fa fa-sad-tear text-dark text-9xl opacity-10 m-3"></i>
        <h6 class="font-weight-bold mb-0">Tidak ada daftar konsultan</h6>
        <p class="text-sm">
          Mohon maaf, sepertinya belum ada konsultan kami yang available untuk saat ini
        </p>
      </div>
    </div>
  </div>
</div>   
{% endif %}
{% endblock content %}