{% extends 'base.html' %}
{% load static %}

{% block title %} Buat Pengajuan Konsultasi Sekarang {% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-12 mx-auto">
      <div class="card z-index-0">
        <div class="card-header pb-2">
          <a href="{% url 'konsultasi:pilih_konsultan' %}">
            <div class="btn btn-sm btn-icon btn-3 btn-danger mb-4">
              <span class="btn-inner--icon me-2"><i class="fa fa-arrow-left"></i></span>
              <span class="btn-inner--text">Kembali</span>
            </div>
          </a>
          <h5 class="text-center">Formulir Pengajuan Pendaftaran Konsultasi</h5>
        </div>
        <div class="card-body">
          <form role="form">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Name" aria-label="Name">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark w-100 my-4 mb-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}